.viewport {
  position: relative;
  float: left;
  height: calc(100% - 40px);
  background: var(--viewport-background);

  .tab-body {
    width: 100%;
    height: 100%;

    canvas {
      display: block;
    }
  }
}
