:root {
  --index-body-color: #ddd;
  --menubar-background: rgb(50, 50, 51);
  --sidebar-background: rgb(51, 51, 51);
  --sidebar-extension-background: rgb(31, 31, 32);
  --sidebar-extension-resizer-background: rgb(0, 126, 210);
  --viewport-background: rgb(34, 34, 34);
  --sidebar-active-button: white;
  --sidebar-inactive-button: gray;
  --sidebar-window-background: rgb(30, 30, 31);
  --viewport-header-background: rgb(37, 37, 38);
  --viewport-tab-background: rgb(45, 45, 45);
  --viewport-tab-close-hover-background: rgba(59, 60, 61);
  --viewport-tab-on-background: rgb(33, 33, 34);
  --file_explorer-title-hover-background: rgb(42, 45, 46);
  --file_explorer-title-selected-background: rgb(4, 57, 94);
}
