@font-face {
  font-family: 'gicon';
  src: url('./glyph/gicon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Malgun Gothic';
  font-size: 12px;

  &.ew-resizing {
    cursor: ew-resize;
  }
}
